/*#region ----------------- Forms */
.inputgroup {
  position: relative;
  margin-bottom: 16px;
  width: 100%;
  label {
    font-size: 14px;
    font-weight: 400;
    color: $textGrey;
    margin-bottom: 0.5rem;
    display: block;
  }
  .input {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 50px 5px 15px;
    height: 44px;
    border: 1px solid $borderColor;
    border-radius: 10px;
    background: white;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    color: $textDark;
    text-align: right;
    &:disabled {
      border-color: $textSilver;
      background-color: rgba($color: #000000, $alpha: 0.02);
    }
    &:hover,
    &:focus {
      border-color: $primary;
    }
  }
  &.type-code {
    .input {
      padding: 5px 15px;
      text-align: center;
      font-size: 17px;
      font-weight: 500;
      color: $textGrey;
    }
  }
  &.simple {
    .input {
      padding: 5px 15px;
    }
  }
  .alert-msg {
    font-size: 13px;
    font-weight: 500;
    text-align: right;
    margin: 0.5rem 0;
  }
  .icon {
    position: absolute;
    right: 0;
    top: 30px;
    width: 44px;
    height: 44px;
    @include displayFlex(flex, center, center);
    font-size: 22px;
    color: $textSilver;
  }
}

.select-group {
  position: relative;
  margin-bottom: 16px;
  width: 100%;
  label {
    font-size: 14px;
    font-weight: 400;
    display: block;
    margin-bottom: 0.5rem;
  }
  .select {
    width: 100%;
    height: 44px;
    border: 1px solid $borderColor;
    border-radius: 10px;
    transition: all 0.3s linear;
    color: $textDark;
    text-align: right;
    font-size: 14px;
    font-weight: 400;
    padding-right: 20px;
    padding-left: 30px;
    background-position: left 0.75rem center;
    background-color: white;
    &:hover,
    &:focus {
      border-color: $primary;
      box-shadow: none !important;
    }
  }
  &.static-label {
    label {
      position: unset;
      top: unset;
      right: unset;
      margin-bottom: 5px;
      margin-right: 5px;
      padding: 0;
      background-color: transparent;
    }
  }
}

.textarea-group {
  position: relative;
  width: 100%;
  label {
    font-size: 14px;
    font-weight: 400;
    color: $textGrey;
    margin-bottom: 0.5rem;
    display: block;
  }
  .textarea {
    width: 100%;
    text-align: right;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    padding: 10px;
    background: white;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    color: $textDark;
    text-align: right;
    border: 1px solid $borderColor;
    &:hover,
    &:focus {
      border-color: $primary;
    }
  }
}

.form-check {
  @include displayFlex(flex, center, flex-start);
  margin: 10px 0 10px 25px;
  .form-check-label {
    font-size: 16px;
    font-weight: 400;
    color: $textDark;
    margin-right: 10px;
    cursor: pointer;
    &.big-font {
      font-size: 18px;
    }
  }
  .form-check-input {
    appearance: none;
    width: 1.2em;
    height: 1.2em;
    border: 0.1em solid $borderColor;
    position: relative;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    &[type="checkbox"] {
      &::before {
        content: "\f284";
        font-family: $iconFontRegular;
        font-size: 12px;
        position: absolute;
        right: 50%;
        top: 50%;
        transform: translate(50%, -50%);
        opacity: 0;
        transition: all 0.15s ease-in-out;
      }
      &:checked {
        background-color: $primary;
        border-color: $primary;
        &::before {
          opacity: 1;
          color: white;
          transform: translate(50%, -50%);
        }
      }
    }
    &[type="radio"] {
      border-radius: 50%;
      &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 0;
        height: 0;
        background-color: white;
        border-radius: 50%;
        opacity: 0;
        transition: all 0.15s ease-in-out;
      }
      &:checked {
        border-color: $primary;
        background-color: $primary;
        &::before {
          opacity: 1;
          width: 0.5em;
          height: 0.5em;
        }
      }
    }
  }
}

.card-upload {
  margin: 20px 0;
  .card-title {
    font-size: 16px;
    color: $textDark;
    margin-bottom: 5px;
  }
  .card-subtitle {
    font-size: 14px;
    font-weight: 400;
    color: $textGrey;
    margin-bottom: 10px;
  }
}

/*#endregion -------------- Forms */
