/*#region ----------------- Login */
.wrapper-login {
  min-height: 100vh;
  overflow-y: auto;
  background-image: url(../images/bg/login-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.7);
  }
  .inner {
    min-height: 100vh;
    position: relative;
    z-index: 50;
    padding: 3rem 1rem;
  }
}

.login-section {
  display: none;
  animation: swipeLeftsmall 0.3s ease-in-out;
  &.active {
    display: block;
  }
  .links-content {
    @include displayFlex(flex, center, space-between);
  }
  .showCountdown {
    font-size: 17px;
    font-weight: 500;
    color: $textDark;
    padding: 0 20px;
  }
  .btn-resend-sms {
    display: none;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 10px;
    cursor: pointer;
    color: $secondary;
    text-decoration: underline 1px dashed $secondary;
  }
  .btn-change-number {
    background-color: transparent;
    font-size: 14px;
    color: $info;
    border: none;
    .fi {
      margin-left: 6px;
      font-size: 16px;
      position: relative;
      top: 2px;
    }
  }
  .radio-group-select {
    @include displayFlex(flex, center, flex-start);
    .form-check {
      margin: 10px 0 10px 25px;
    }
    .form-check-label {
      font-size: 16px;
      font-weight: 300;
      color: $textGrey;
      strong {
        font-weight: 800;
        color: $textDark;
      }
    }
    .form-check-input {
      top: 1px;
    }
  }
}

#register-form-1,
#register-form-2 {
  display: none;
  animation: swipeLeftsmall 0.3s ease-in-out;
  &.active {
    display: block;
  }
}

.modal-loader {
  @include displayFlex(none, center, center);
  flex-direction: column;
  &.fix-height {
    height: 160px;
  }
  .load-content {
    border: 4px solid $background_light;
    border-radius: 50%;
    border-top: 4px solid $primary;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
  }
  &.active {
    display: flex;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .wrapper-login {
    .form-content {
      width: 100%;
    }
  }
}

/*#endregion -------------- Login */
