/*#region ----------------- Navbar */
.navbar {
  background-color: white;
  box-shadow: $boxshadow;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 300;
  &.bg-transparent {
    background-color: transparent;
    box-shadow: none;
    .nav-logo {
      a {
        &::before {
          background-image: url(../images/logo-white.svg);
        }
      }
    }
    .nav-links {
      ul li a {
        color: white;
      }
    }
    .nav-actions {
      .login {
        .btn-primary {
          background-color: white !important;
          color: $primary !important;
        }
      }
    }
  }
  .navbar-inner {
    padding: 15px 0;
    display: grid;
    grid-template-columns: 180px 1fr auto;
    align-items: center;
    position: relative;
  }
  .nav-logo {
    a {
      width: 180px;
      height: 50px;
      display: block;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/logo-color.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
      }
    }
  }
  .nav-links {
    margin-right: 50px;
    ul {
      @include displayFlex(flex, center, flex-start);
      flex-wrap: wrap;
      li {
        a {
          display: block;
          padding: 20px 15px;
          color: $textDark;
          &:hover {
            color: $primary;
          }
        }
      }
    }
  }
  .nav-actions {
    .login {
      text-align: left;
      .btn-primary {
        background-color: $secondary !important;
        color: white;
        border: none;
      }
    }
    .sign {
      position: relative;
      .btn {
        min-width: unset;
        padding-left: 2rem;
        // border: none;
        &::after {
          content: "\f25d";
          position: absolute;
          left: 10px;
          top: 11px;
          font-size: 16px;
          font-family: $iconFontRegular;
        }
      }
      &:hover {
        .user-menu {
          display: block;
        }
      }
    }
    .user-menu {
      position: absolute;
      top: 100%;
      left: 0;
      width: 200px;
      background-color: white;
      border-radius: 8px;
      box-shadow: 0 5px 30px rgba($color: #000000, $alpha: 0.2);
      display: none;
      ul {
        padding: 8px 0;
        li {
          a {
            font-size: 16px;
            font-weight: 400;
            color: $textDark;
            display: flex;
            padding: 6px 10px;
            .fi {
              margin-left: 10px;
              font-size: 18px;
              position: relative;
              top: 3px;
              color: $textSilver;
            }
            &:hover {
              color: $primary;
            }
          }
        }
      }
    }
  }
  .btn-mobile-menu {
    width: 44px;
    height: 44px;
    @include displayFlex(flex, center, center);
    padding: 2px;
    border-radius: 5px;
    color: $textGrey;
    font-size: 24px;
    display: none;
  }
}

@media (max-width: 1024px) {
  .navbar {
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    box-shadow: $boxshadow;
    &.bg-transparent {
      background-color: white;
      box-shadow: $boxshadow;
      .nav-actions {
        .login {
          .btn-primary {
            background-color: transparent !important;
            color: $textDark !important;
          }
        }
      }
    }
    .navbar-inner {
      padding: 10px 0;
      display: grid;
      grid-template-columns: 60px auto 60px;
    }
    .nav-links {
      display: none;
    }
    .nav-logo {
      margin: 0 auto;
      width: 160px;
      a {
        width: 100%;
        &::before {
          background-image: url(../images/logo-color.svg) !important;
        }
      }
    }
    .nav-actions {
      .login {
        text-align: left;
        .btn {
          width: 44px;
          height: 44px;
          padding: 5px;
          min-width: unset;
          background-color: transparent !important;
          color: $textDark !important;
          border: none;
          span {
            display: none;
          }
          &:hover {
            color: white;
          }
        }
      }
      .sign {
        text-align: left;
        .btn {
          width: 54px;
          height: 44px;
          padding: 5px;
          min-width: unset;
          background-color: transparent;
          color: $textDark;
          border: none;
          span {
            display: none;
          }
          &::after {
            left: 0;
          }
          &:hover {
            background-color: transparent !important;
          }
        }
      }
    }
    .btn-mobile-menu {
      display: flex;
    }
  }
}
@media (max-width: 640px) {
  .navbar {
    .nav-logo {
      width: 140px;
    }
  }
}

/*#endregion -------------- Navbar */
