/*#region ----------------- Teacher */
.teachers-section {
  margin: 140px 0 40px 0;
  .section-inner {
    margin-top: 2rem;
  }
}

.card-teacher {
  margin-bottom: 10px;
  .card-inner {
    display: grid;
    grid-template-columns: 140px auto;
    align-items: flex-end;
    position: relative;
    transition: all 0.2s ease-in-out;
    &::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      width: 100%;
      height: calc(100% - 30px);
      background-color: $background_light;
      z-index: -1;
      border-radius: 20px;
    }
  }
  .thumb {
    img {
      width: 100%;
    }
  }
  .info {
    padding: 20px 12px 12px 12px;
    h5 {
      font-size: 16px !important;
      margin-bottom: 5px;
      color: $textDark;
      @include textTruncate(1);
    }
    p {
      font-size: 14px !important;
      color: $textGrey;
      @include textTruncate(1);
    }
  }
  .btns-action {
    text-align: left;
  }
  &:hover {
    .card-inner {
      transform: translateY(-5px);
    }
  }
}

.teacher-info {
  background-color: $background_light;
  border-radius: 10px;
  padding: 5px;
  display: grid;
  grid-template-columns: 60px auto;
  align-items: center;
  .thumb {
    width: 60px;
    height: 60px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
  .info {
    padding-right: 15px;
    h6 {
      font-size: 14px !important;
      color: $textDark;
    }
    p {
      margin-bottom: 0;
      font-size: 13px;
      color: $textGrey;
    }
  }
}

.card-bookmark {
  display: grid;
  grid-template-columns: 35px auto;
  align-items: center;
  cursor: pointer;
  user-select: none;
  border: 1px solid $borderColor;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 5px;
  .icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: relative;
    border: 2px solid $borderColor;
    &::before {
      content: "\f284";
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
      font-family: $iconFontRegular;
      font-size: 14px;
      color: white;
      display: none;
    }
  }
  .date-list {
    @include displayFlex(flex, center, flex-start);
    flex-wrap: wrap;
    li {
      flex: 1 0 50%;
      width: 50%;
      font-size: 13px;
      font-weight: 400;
      color: $textGrey;
      margin: 2px 0;
      &:first-child {
        flex: 1 0 100%;
        width: 100%;
      }
      span {
        color: $textDark;
      }
    }
  }
  &.active {
    border-color: $secondary;
    .icon {
      background-color: $secondary;
      border-color: $secondary;
      &::before {
        display: block;
      }
    }
  }
}

.bookmark-content-section {
  display: none;
  &.active {
    display: block;
  }
  .info-list {
    // background-color: $background_light;
    border: 2px dashed $borderColor;
    padding: 15px;
    border-radius: 8px;
    li {
      font-size: 14px;
      color: $textDark;
      margin-bottom: 12px;
      &:last-child {
        margin-bottom: 0;
      }
      span {
        color: $textGrey;
        margin-right: 5px;
      }
    }
  }
}

.teachers-list-section {
  position: relative;
  top: -60px;
  margin-bottom: 100px;
  .search-content {
    background-color: white;
    border-radius: 20px;
    border: 5px solid rgba($color: $secondary, $alpha: 0.1);
    box-shadow: $boxshadow;
    padding: 25px;
  }
  .section-inner {
    margin-top: 40px;
  }
}

.card-teacher-row {
  margin-bottom: 20px;
  .card-inner {
    background-color: $background_light;
    padding: 10px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 140px auto;
  }
  .thumb {
    img {
      border-radius: 15px;
      width: 100%;
      object-fit: cover;
    }
  }
  .info {
    padding-right: 15px;
    padding-top: 10px;
    .name {
      font-size: 16px;
      color: $textDark;
      margin-bottom: 5px;
      @include textTruncate(1);
    }
    .desc {
      font-size: 14px;
      color: $textGrey;
      @include textTruncate(1);
      margin-bottom: 30px;
    }
    .rate {
      display: flex;
      font-size: 16px;
      font-weight: 600;
      color: $textDark;
      .fi {
        margin-right: 5px;
        color: $primary;
      }
      span {
        margin-right: 5px;
        font-size: 14px;
        font-weight: 400;
        color: $textGrey;
      }
    }
  }
  .btns-action {
    @include displayFlex(flex, center, space-between);
  }
}

.teacher-header {
  background-color: rgba($color: #000000, $alpha: 0.3);
  padding: 8rem 0 2rem 0;
  background-image: url(../images/bg/3ccc.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  border-radius: 0 0 0 150px;
  .image-content {
    .img-inner {
      width: 300px;
      margin: 0 auto;
      border: 3px solid rgba($color: white, $alpha: 0.5);
      border-radius: 20px;
      padding: 5px;
      img {
        width: 100%;
        border-radius: 16px;
      }
    }
  }
  .text-content {
    h2 {
      font-size: 24px;
      font-weight: 800;
      color: white;
      margin-bottom: 15px;
    }
    h3 {
      font-size: 18px;
      font-weight: 400;
      color: rgba($color: white, $alpha: 0.8);
    }
    .info {
      ul {
        @include displayFlex(flex, center, flex-start);
        flex-wrap: wrap;
        li {
          margin: 10px 0 10px 30px;
          font-size: 14px;
          @include displayFlex(flex, center, flex-start);
          color: white;
          .fi {
            margin-left: 5px;
            font-weight: 16px;
          }
          span {
            font-weight: 600;
          }
        }
      }
    }
    .btns-action {
      margin-top: 20px;
    }
  }
}

.teacher-information {
  margin: 60px 0 100px 0;
  .section-inner {
    display: grid;
    grid-template-columns: auto 350px;
  }
  .main {
    padding-left: 30px;
  }
  .side {
    .inner {
      position: sticky;
      top: 50px;
      background-color: white;
      box-shadow: $boxshadow;
      padding: 30px;
      border-radius: 20px;
    }
    .side-spyscroll {
      li {
        a {
          display: block;
          padding: 8px 20px 8px 5px;
          font-size: 16px;
          font-weight: 400;
          color: $textDark;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            top: 16px;
            right: 0;
            width: 10px;
            height: 10px;
            background-color: rgba($color: #000000, $alpha: 0.1);
            border-radius: 50%;
          }
          &.active {
            color: $primary;
            font-weight: 800;
            &::before {
              background-color: $primary;
            }
          }
        }
      }
    }
    .btns-action {
      margin-top: 20px;
      .btn {
        width: 100%;
      }
    }
    .tags {
      margin-top: 20px;
      padding-top: 20px;
      border-top: 1px solid $borderColor;
      ul {
        @include displayFlex(flex, center, flex-start);
        flex-wrap: wrap;
        li {
          font-size: 14px;
          background-color: $background_light;
          padding: 5px 10px;
          margin: 5px 0 5px 5px;
          border-radius: 50px;
        }
      }
    }
  }
  .section {
    margin-bottom: 30px;
    border: 1px solid $borderColor;
    border-radius: 20px;
    padding: 30px;
    h2 {
      font-size: 24px;
      color: $textDark;
      margin-bottom: 10px;
    }
    p {
      font-size: 16px;
      color: $textGrey;
      text-align: justify;
    }
    ul,
    ol {
      padding-right: 30px;
      margin: 20px 0;
      li {
        margin-bottom: 10px;
        font-size: 16px;
        color: $textGrey;
      }
    }
    ul {
      list-style: disc;
    }
    ol {
      list-style: decimal;
    }
  }
}

@media (max-width: 1024px) {
  .teacher-header {
    border-radius: 0 0 0 110px;
    .image-content {
      .img-inner {
        width: 200px;
      }
    }
    .text-content {
      margin-bottom: 30px;
      h2,
      h3 {
        text-align: center;
      }
      h2 {
        font-size: 20px;
      }
      h3 {
        font-size: 18px;
        font-weight: 400;
      }
      .info {
        ul {
          justify-content: center;
          li {
            margin: 10px;
          }
        }
      }
      .btns-action {
        text-align: center;
      }
    }
  }
  .teacher-information {
    margin: 40px 0 100px 0;
    .section-inner {
      grid-template-columns: 100%;
    }
    .main {
      padding-left: 0;
    }
    .side {
      .inner {
        padding: 20px;
      }
      .side-spyscroll {
        display: none;
      }
      .btns-action {
        margin-top: 0;
      }
    }
    .section {
      padding: 20px;
      margin-bottom: 20px;
      h2 {
        font-size: 20px;
      }
      p,
      ul li,
      ol li {
        font-size: 14px;
      }
    }
  }
}
@media (max-width: 640px) {
  .teachers-list-section .search-content {
    padding: 15px;
  }
  .card-teacher-row {
    .card-inner {
      grid-template-columns: 110px auto;
      padding: 5px;
    }
    .info {
      .name {
        font-size: 14px;
      }
      .desc {
        font-size: 13px;
        margin-bottom: 15px;
      }
      .rate {
        font-size: 14px;
        span {
          font-size: 13px;
        }
      }
    }
    .btns-action {
      flex-wrap: wrap;
      .btn {
        padding: 0.5rem 1rem;
        min-width: auto;
        font-size: 14px;
      }
    }
  }
  .teacher-header {
    border-radius: 0 0 0 80px;
    .image-content {
      .img-inner {
        width: 150px;
      }
    }
  }
}

/*#endregion -------------- Teacher */
