/*#region ----------------- Teacher */
.teachers-section {
  margin: 140px 0 40px 0;
  .section-inner {
    margin-top: 2rem;
  }
}

.card-teacher {
  margin-bottom: 10px;
  .card-inner {
    display: grid;
    grid-template-columns: 140px auto;
    align-items: flex-end;
    position: relative;
    transition: all 0.2s ease-in-out;
    &::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      width: 100%;
      height: calc(100% - 30px);
      background-color: $background_light;
      z-index: -1;
      border-radius: 20px;
    }
  }
  .thumb {
    img {
      width: 100%;
    }
  }
  .info {
    padding: 20px 12px 12px 12px;
    h5 {
      font-size: 16px !important;
      margin-bottom: 5px;
      color: $textDark;
      @include textTruncate(1);
    }
    p {
      font-size: 14px !important;
      color: $textGrey;
      @include textTruncate(1);
    }
  }
  .btns-action {
    text-align: left;
  }
  &:hover {
    .card-inner {
      transform: translateY(-5px);
    }
  }
}

/*#endregion -------------- Teacher */
